pika
attrs==19.3.0
bleach==2.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
codecov==2.0.15
colorama==0.3.3
coverage==4.5.4
Flask==1.1.1
grpcio==1.18.0
grpcio-tools==1.18.0
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==8.0.2
packaging==19.2
Pillow==6.2.1
pluggy==0.13.1
protobuf==3.11.2
protobuf-compiler==1.0.20
py==1.8.0
pyparsing==2.4.5
pytest==5.3.1
pytest-cov==2.8.1
requests==2.22.0
six==1.13.0
termcolor==1.1.0
tqdm==4.31.1
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
urlpath==1.1.4
pytest-mock==3.1.0
pytest-httpserver==0.3.4
